<header class="main-header">
  
  <nav class="navbar navbar-static-top" style="margin-left:0px">
  
    <div class="navbar-custom-menu">

      <ul class="nav navbar-nav">        

        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="../../../assets/img/silvio-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Silvio Angelo</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="../../../assets/img/silvio-160x160.jpg" class="img-circle" alt="User Image">

              <p>
                Silvio Angelo - Java Senior Developer at SRM Asset
                <small>Member since Jul. 2018</small>
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>