<div class="col-md-6" style="margin: 0 25%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Teste Prático SRMAsset </h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="realizarCadastro()">
      
      <div class="alert alert-error" role="alert" *ngIf="mensagemErro">
        <strong>{{mensagemErro}}</strong>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
          <strong>{{mensagemSucesso}}</strong>
      </div>
      
      <div class="box-body">
        <div class="form-group">
          <label for="inputNmCliente" class="col-sm-2 control-label">Nome Cliente</label>

          <div class="col-sm-10">
            <input  type="text" 
                    [(ngModel)]="cliente.nome"
                    name="nome"
                    class="form-control" 
                    id="inputNmCliente"
                    #nome="ngModel"
                    placeholder="Nome Cliente"
                    required>
          </div>
        </div>
        
        <div class="form-group">
            <label for="inputLmtCred" class="col-sm-2 control-label">Limite Crédito</label>
  
            <div class="col-sm-10">
              <input  type="number"
                      name="limiteCredito"
                      [(ngModel)]="cliente.limiteCredito"
                      class="form-control" 
                      id="inputLmtCred"
                      #limiteCredito="ngModel"
                      placeholder="Limite Credito"
                      required>
            </div>
        </div>

        <div class="form-group">
            <label for="selectRisco" class="col-sm-2 control-label">Risco</label>
  
            <div class="col-sm-10">
                <select id="selectRisco" 
                        name="risco"
                        [(ngModel)]="cliente.risco"
                        #risco="ngModel"
                        class="form-control"
                        required>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                  </select>
            </div>
        </div>
          
      </div>
      
      <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
      </div>
      
    </form>
  </div>
</div>

<div class="col-md-6" style="margin: 0 25%">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Clientes Cadastrados</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
              <th>#</th>
            <th>Nome Cliente</th>
            <th>Limite Crédito (R$)</th>
            <th>Risco</th>
            <th>Taxa (%)</th>
            <th>Limite Crédito Calc. (R$)</th>
          </tr>
          <tr *ngFor="let item of listaClientes">
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.limiteCredito}}</td>
            <td>{{item.risco}}</td>
            <td>{{item.txJuros}}</td>
            <td>{{item.limiteCreditoCalculado}}</td>
          </tr>
          
        </table>
      </div>
      
    </div>
    <!-- /.box -->
  </div>