<div class="col-md-6" style="margin: 0 25%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">SRM Asset Teste Prático Front End</h3>
    </div>
    <form class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="inputNmCliente" class="col-sm-2 control-label">Nome Cliente</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNmCliente" placeholder="Nome Cliente">
          </div>
        </div>
        
        <div class="form-group">
            <label for="inputLmtCred" class="col-sm-2 control-label">Limite Credito</label>
  
            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputLmtCred" placeholder="Limite Credito">
            </div>
        </div>

        <div class="form-group">
            <label for="selectRisco" class="col-sm-2 control-label">Risco</label>
  
            <div class="col-sm-10">
                <select id="selectRisco" class="form-control">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                  </select>
            </div>
        </div>
          
      </div>
      
      <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
      </div>
      
    </form>
  </div>
</div>  